@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;

  background-image: url("../../public/fondo-min.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* background-color: black; */
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.img-luminosa {
  filter: drop-shadow(0 0 3px rgba(44, 44, 44, 0.973));
}

.logo-luminoso {
  filter: drop-shadow(0 0 3px rgba(44, 44, 44, 0.973));
}

.bar {
  display: flex;
  border-radius: 11px;
  background: #0005a3;
  box-shadow:
    inset 5px 5px 15px #000358,
    inset -5px -5px 15px #0007ee;
  color: rgb(255, 255, 255);
  padding: 7px;
}

.main-button-1 {
  border-radius: 11px;
  background: #eb008bff;
  box-shadow:
    inset 5px 5px 10px rgb(241, 156, 206),
    inset -5px -5px 10px rgb(134, 4, 80);
  cursor: pointer;
}

.main-button-2 {
  border-radius: 11px;
  background: rgb(62, 145, 81);
  box-shadow:
    inset 5px 5px 10px rgb(156, 241, 174),
    inset -5px -5px 10px rgb(2, 77, 6);
  color: whitesmoke;
  cursor: pointer;
}

.main-button-3 {
  border-radius: 11px;
  background: rgb(252, 152, 3);
  box-shadow:
    inset 5px 5px 10px rgb(252, 224, 101),
    inset -5px -5px 10px rgb(134, 104, 4);
  cursor: pointer;
}

.contenedor-carousel {
  width: clamp(100px, 500px, 500px);
  height: 40rem;
  border-radius: 10px;
  filter: drop-shadow(0 0 3px rgba(44, 44, 44, 0.973));
  background-color: #5f5f5f;
  border: 3px solid #ffffff;
  overflow: hidden;
}
